* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  padding: 8px;
}
#resultado {
  padding: 8px;
}
